@charset "utf-8";

/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;700&family=Russo+One&family=Swanky+and+Moo+Moo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@font-face {
    font-family: 'roots';
    src: url('../fonts/roots/Roots.ttf') format('truetype');
}


/* Viewport */

@viewport {
    zoom: 1.0;
    width: device-width;
}


/* CLASSES SUPERIORES */

:root {
    --fonte-russo: 'Russo One', sans-serif;
    --fonte-ubuntu: 'Ubuntu', sans-serif;
    --font-kalam: 'Kalam', cursive;
    --font-moo: 'Swanky and Moo Moo', cursive;
}

html {
    background: #444;
    scroll-behavior: smooth;
}

body {
    background: #444;
    color: #FFF;
    font-size: 1.5em;
    background-attachment: fixed;
    background-size: 100%;
    font-family: var(--font-ubuntu);
    z-index: 0;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

header {
    text-align: center;
    color: #FFFFFF;
    background: #444;
}

section {
    background-color: #FFFFFF;
    color: #000000;
    font-family: var(--font-kalam);
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto;
    background: #444;
}

footer {
    color: #FFFFFF;
    text-align: center;
    background: #444;
}

#id_corpo {
    background-color: #444;
    color: #FFFFFF;
}

#sauda {
    align-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #444;
}

#rel {
    font-size: 1em;
    align-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #444;
}

#hoje {
    align-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #444;
}