* {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

:root {
    background-color: #444444;
}

html {
    background-color: #444444;
}

body {
    background-color: #444444;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px #000000;
}

table {
    color: #FFFFFF;
    background-color: #444444;
    margin: 0 auto;
    width: 50%;
}

div {
    background-color: #444444;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

td.td1 {
    padding: 10px;
}

td.td2 {
    background: #666666;
    padding: 10px;
}